In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
# import sys
# import os
import pandas as pd
from pathlib import Path

In [3]:
cod_df = pd.read_csv(Path.home() / 'Downloads' / 'Weekly_counts_of_death_by_jurisdiction_and_cause_of_death.csv')

In [4]:
cod_df.h

AttributeError: 'DataFrame' object has no attribute 'h'

In [5]:
cod_df[cod_df['Cause Subgroup'] == 'Respiratory diseases']

,Jurisdiction,Week Ending Date,State Abbreviation,Year,Week,Cause Group,Number of Deaths,Cause Subgroup,Time Period,Suppress,Note,Average Number of Deaths in Time Period,Difference from 2015-2019 to 2020,Percent Difference from 2015-2019 to 2020,Type
2830,Texas,2015-01-10,TX,2015,1,Chronic lower respiratory disease,277,Respiratory diseases,2015-2019,NaN,NaN,248,NaN,NaN,Predicted (weighted)
2831,Texas,2016-01-09,TX,2016,1,Chronic lower respiratory disease,190,Respiratory diseases,2015-2019,NaN,NaN,248,NaN,NaN,Predicted (weighted)
2832,Texas,2017-01-07,TX,2017,1,Chronic lower respiratory disease,235,Respiratory diseases,2015-2019,NaN,NaN,248,NaN,NaN,Predicted (weighted)
2833,Texas,2018-01-06,TX,2018,1,Chronic lower respiratory disease,310,Respiratory diseases,2015-2019,NaN,NaN,248,NaN,NaN,Predicted (weighted)
2834,Texas,2019-01-05,TX,2019,1,Chronic lower respiratory disease,229,Respiratory diseases,2015-2019,NaN,NaN,248,NaN,NaN,Predicted (weighted)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674,Texas,2016-01-02,TX,2015,52,Other diseases of the respiratory system,96,Respiratory diseases,2015-2019,NaN,NaN,99,NaN,NaN,Predicted (weighted)
3675,Texas,2016-12-31,TX,2016,52,Other diseases of the respiratory system,97,Respiratory diseases,2015-2019,NaN,NaN,99,NaN,NaN,Predicted (weighted)
3676,Texas,2017-12-30,TX,2017,52,Other diseases of the respiratory system,104,Respiratory diseases,2015-2019,NaN,NaN,99,NaN,NaN,Predicted (weighted)
3677,Texas,2018-12-29,TX,2018,52,Other diseases of the respiratory system,97,Respiratory diseases,2015-2019,NaN,NaN,99,NaN,NaN,Predicted (weighted)
3678,Texas,2019-12-28,TX,2019,52,Other diseases of the respiratory system,100,Respiratory diseases,2015-2019,NaN,NaN,99,NaN,NaN,Predicted (weighted)

In [6]:
mort_df = pd.read_csv(Path.home() / 'Downloads' / 'Influenza_Pneumonia Mortality by State.csv')

In [7]:
mort_df.shape

(301, 5)

In [8]:
mort_df.head()

     YEAR STATE  RATE DEATHS                                       URL
0  2018.0    AL  21.4   1268     /nchs/pressroom/states/alabama/al.htm
1  2018.0    AK  12.1     68      /nchs/pressroom/states/alaska/ak.htm
2  2018.0    AZ  12.4   1116     /nchs/pressroom/states/arizona/az.htm
3  2018.0    AR  18.0    670    /nchs/pressroom/states/arkansas/ar.htm
4  2018.0    CA  15.6   6917  /nchs/pressroom/states/california/ca.htm

In [9]:
mort_df[mort_df['STATE'] == 'TX']

       YEAR STATE  RATE DEATHS                                     URL
42   2018.0    TX  12.9   3516     /nchs/pressroom/states/texas/tx.htm
92   2017.0    TX  11.2  2,954  /nchs/pressroom/states/texas/texas.htm
142  2016.0    TX  11.1  2,860  /nchs/pressroom/states/texas/texas.htm
192  2015.0    TX  13.0  3,214  /nchs/pressroom/states/texas/texas.htm
242  2014.0    TX  14.2  3,452  /nchs/pressroom/states/texas/texas.htm
292  2005.0    TX  20.5  3,654  /nchs/pressroom/states/texas/texas.htm

In [10]:
prov_df = pd.read_csv(Path.home() / 'Downloads' / 'Provisional_COVID-19_Death_Counts_by_Week_Ending_Date_and_State.csv')

In [11]:
prov_df.shape

(1134, 14)

In [12]:
prov_df.head()

,Data as of,Start week,End Week,Group,State,Indicator,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
0,06/26/2020,02/01/2020,02/01/2020,By week,United States,Week-ending,1.0,58179.0,0.98,3766.0,0.0,477.0,4244.0,NaN
1,06/26/2020,02/08/2020,02/08/2020,By week,United States,Week-ending,1.0,58771.0,0.98,3755.0,0.0,516.0,4272.0,NaN
2,06/26/2020,02/15/2020,02/15/2020,By week,United States,Week-ending,0.0,57904.0,0.98,3770.0,0.0,549.0,4319.0,NaN
3,06/26/2020,02/22/2020,02/22/2020,By week,United States,Week-ending,5.0,57864.0,1.00,3639.0,1.0,557.0,4200.0,NaN
4,06/26/2020,02/29/2020,02/29/2020,By week,United States,Week-ending,5.0,58250.0,1.01,3762.0,3.0,638.0,4402.0,NaN

In [13]:
prov_df[prov_df['State'] == 'Texas']

,Data as of,Start week,End Week,Group,State,Indicator,COVID-19 Deaths,Total Deaths,Percent of Expected Deaths,Pneumonia Deaths,Pneumonia and COVID-19 Deaths,Influenza Deaths,"Pneumonia, Influenza, or COVID-19 Deaths",Footnote
945,06/26/2020,02/01/2020,02/01/2020,By week,Texas,Week-ending,0.0,4165.0,0.97,276.0,0.0,30.0,306.0,NaN
946,06/26/2020,02/08/2020,02/08/2020,By week,Texas,Week-ending,0.0,4317.0,1.01,284.0,0.0,37.0,321.0,NaN
947,06/26/2020,02/15/2020,02/15/2020,By week,Texas,Week-ending,0.0,4331.0,1.02,300.0,0.0,45.0,345.0,NaN
948,06/26/2020,02/22/2020,02/22/2020,By week,Texas,Week-ending,0.0,4206.0,1.01,281.0,0.0,35.0,316.0,NaN
949,06/26/2020,02/29/2020,02/29/2020,By week,Texas,Week-ending,0.0,4135.0,1.01,302.0,0.0,39.0,341.0,NaN
950,06/26/2020,03/07/2020,03/07/2020,By week,Texas,Week-ending,0.0,4163.0,0.99,277.0,0.0,40.0,317.0,NaN
951,06/26/2020,03/14/2020,03/14/2020,By week,Texas,Week-ending,0.0,4146.0,1.03,307.0,0.0,34.0,341.0,NaN
952,06/26/2020,03/21/2020,03/21/2020,By week,Texas,Week-ending,10.0,4235.0,1.06,329.0,NaN,23.0,357.0,One or more data cells have counts between 1–9...
953,06/26/2020,03/28/2020,03/28/2020,By week,Texas,Week-ending,44.0,4236.0,1.09,345.0,14.0,17.0,390.0,NaN
954,06/26/2020,04/04/2020,04/04/2020,By week,Texas,Week-ending,121.0,4151.0,1.09,359.0,45.0,NaN,441.0,One or more data cells have counts between 1–9...
955,06/26/2020,04/11/2020,04/11/2020,By week,Texas,Week-ending,200.0,4236.0,1.10,403.0,77.0,NaN,530.0,One or more data cells have counts between 1–9...
956,06/26/2020,04/18/2020,04/18/2020,By week,Texas,Week-ending,230.0,4254.0,1.12,409.0,113.0,NaN,529.0,One or more data cells have counts between 1–9...
957,06/26/2020,04/25/2020,04/25/2020,By week,Texas,Week-ending,218.0,4384.0,1.15,330.0,89.0,NaN,466.0,One or more data cells have counts between 1–9...
958,06/26/2020,05/02/2020,05/02/2020,By week,Texas,Week-ending,221.0,4198.0,1.10,358.0,101.0,NaN,485.0,One or more data cells have counts between 1–9...
959,06/26/2020,05/09/2020,05/09/2020,By week,Texas,Week-ending,216.0,4204.0,1.13,340.0,97.0,NaN,461.0,One or more data cells have counts between 1–9...
960,06/26/2020,05/16/2020,05/16/2020,By week,Texas,Week-ending,240.0,4171.0,1.11,354.0,107.0,NaN,488.0,One or more data cells have counts between 1–9...
961,06/26/2020,05/23/2020,05/23/2020,By week,Texas,Week-ending,157.0,4051.0,1.10,329.0,78.0,NaN,412.0,One or more data cells have counts between 1–9...
962,06/26/2020,05/30/2020,05/30/2020,By week,Texas,Week-ending,174.0,3822.0,1.02,297.0,84.0,NaN,391.0,One or more data cells have counts between 1–9...
963,06/26/2020,06/06/2020,06/06/2020,By week,Texas,Week-ending,122.0,3502.0,0.93,235.0,51.0,NaN,307.0,One or more data cells have counts between 1–9...
964,06/26/2020,06/13/2020,06/13/2020,By week,Texas,Week-ending,64.0,2634.0,0.71,150.0,24.0,0.0,190.0,NaN
965,06/26/2020,06/20/2020,06/20/2020,By week,Texas,Week-ending,NaN,901.0,0.24,38.0,0.0,0.0,45.0,One or more data cells have counts between 1–9...

In [14]:
pd.Series([None])

0    None
dtype: object

In [16]:
prov_df[prov_df.isnull()] = prov_df

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [49]:
pd.DataFrame([0], columns=[1])

   1
0  0

In [59]:
test_df = pd.DataFrame([[None], [4]]).join(pd.Series(['asdf'], name=1))

In [60]:
test_df

     0     1
0  NaN  asdf
1  4.0   NaN

In [43]:
test_df[0] = pd.Series([0, 1], dtype='int64')

In [44]:
test_df

   0    1
0  0  1.0
1  1  4.0

In [40]:
test_df[test_df.isnull()] = pd.DataFrame([[0,1.0],[3,4.0]])

In [41]:
test_df

     0    1
0  0.0  1.0
1  3.0  4.0

In [69]:
X_copy = pd.read_csv('/Users/alanbertl/oag/X_copy.csv').set_index('api')
df_nulls = pd.read_csv('/Users/alanbertl/oag/df_nulls.csv').set_index('api')

In [70]:
X_copy[X_copy.isnull()] = df_nulls

In [72]:
pd.__version__

'1.0.3'

In [66]:
X_copy

,api,ocwv_bottom,ocwv_file_number,ocwv_fluid_bbl_per_ft,ocwv_ft_per_stage,ocwv_lateral_length,ocwv_max_treat_press,ocwv_max_treat_rate,ocwv_propp_lbs_per_ft,ocwv_stages,...,ogg_isopach_upperbakken_csv_point_lat,ogg_isopach_upperbakken_csv_point_lon,ogg_kerogentype_lowerbakken_csv_point_lat,ogg_kerogentype_lowerbakken_csv_point_lon,ogg_kerogentype_upperbakken_csv_point_lat,ogg_kerogentype_upperbakken_csv_point_lon,ogg_tmax_lowerbakken_csv_point_lat,ogg_tmax_lowerbakken_csv_point_lon,ogg_toc_lowerbakken_csv_point_lat,ogg_toc_lowerbakken_csv_point_lon
0,33023010860000,14212,26080,4.634712,191,5750,7200,23.0,170,30,...,48.998481,-103.760770,48.846202,-103.751206,48.878147,-103.753024,49.005124,-103.762213,48.946876,-103.763973
1,33013016740000,18329,22716,2.036863,250,10010,6740,15.4,102,40,...,48.733123,-102.695268,48.739174,-102.689834,48.743807,-102.688809,48.742007,-102.689201,48.743888,-102.683273
2,33023010850000,18176,26050,4.665337,238,9529,8304,6.2,154,40,...,48.860044,-103.462401,48.849844,-103.473779,48.867517,-103.462782,48.869818,-103.468275,48.829764,-103.498037
3,33105025330000,15069,22356,4.609995,267,4282,7884,35.0,528,16,...,48.382718,-103.153813,48.384860,-103.164982,48.385565,-103.161549,48.398352,-103.155229,48.379167,-103.145386
4,33013016510000,12750,22258,4.661590,168,4202,5358,25.9,267,25,...,48.860698,-102.905709,48.852455,-102.908413,48.862792,-102.917484,48.856288,-102.908563,48.864660,-102.912334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,33105025480000,20600,22495,24.359103,285,9986,9191,86.0,410,35,...,48.340193,-103.618999,48.347491,-103.609188,48.342647,-103.615598,48.342198,-103.617884,48.343425,-103.614863
444,33061020390000,20120,22461,8.338875,236,9443,9821,36.5,393,40,...,48.327010,-102.672196,48.326944,-102.676181,48.321457,-102.677812,48.331699,-102.667432,48.321393,-102.669192
445,33105032350000,19593,26623,23.969472,269,9434,9559,81.0,444,35,...,48.546808,-103.001458,48.548230,-103.013056,48.543853,-103.005433,48.548831,-103.019451,48.543047,-103.011678
446,33061016510000,18603,20260,5.566689,288,8952,6128,26.9,452,31,...,48.360605,-102.316470,48.359417,-102.318450,48.352885,-102.312082,48.363092,-102.307785,48.349965,-102.323332
447,33061017020000,18625,20542,6.778579,237,9019,8418,27.8,643,38,...,48.323183,-102.298752,48.314631,-102.291424,48.313419,-102.290485,48.319462,-102.292969,48.313498,-102.285604

In [67]:
df_nulls.shape

(448, 55)

In [74]:
40.44 / 35.71

1.1324558947073649

In [73]:
53.85 / 24

2.24375

In [75]:
X_copy.shape

(448, 54)